html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.landing {
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#background {
  background: url("Background.png") no-repeat center;
  background-size: 105%;
  width: 105%;
}

#middleground {
  background: url("Head.png") no-repeat center,
  url("Silhouette.png") no-repeat center;
  background-size: 105%;
}

#foreground {
  background: url("Hand.png") no-repeat center, 
  url("Book.png") no-repeat center;
  background-size: 105%;
}